<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                          http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- Define a bean -->
    <bean id="user" class="org.example.User">
        <property name="website" ref="website"/>
    </bean>
    <bean id="website" class="org.example.MyWebsite" autowire="byType">
        <constructor-arg index="0" value="false"/>
        <property name="auth" ref="emailpass"/>
    </bean>
    <bean id="service" class="org.example.MyService" primary="true">
        <property name="user" value="Name"/>
    </bean>
    <bean id="oauthenticate" class="org.example.Oauth" autowire="byType">

    </bean>
    <bean id="emailpass" class="org.example.EmailAndPassword"></bean>
    <bean id="google" class="org.example.GoogleOauth"></bean>
</beans>